
.image
{
  width:300px;
  height:300px
}


.background
{
  background-color:darkgrey
}

.font
{
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.hover-opacity-100:hover {
  opacity: 100 !important;
}

.frame
{
  width:300px;
  height:200px;
}

.transition {
  transition: opacity 0.3s ease-in-out;
}



 